@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  body {
    font-size: 16px;
    line-height: 28px;
  }
}

tr {
  height: 68px;
}
/* 
tr:hover {
  background-color: rgba(207, 207, 207, 0.5);
} */

.footer-block {
  background-color: #333333;
  width: 100%;
}

.form-block {
  background-color: #F4F5F9;
  position:relative;
  width: 100%;
}

.faq-block {
  position: relative;
  width: 100%;
}

.pin-image {
  position: absolute;
  right: 20px; 
  top: -35px;  
  z-index: 10;
}


.faq-block::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/img/compare-table.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5; 
  z-index: -1; 
}

.slider-bottom {
  display: flex;
  align-items: stretch;
}

.sameblock {
  flex-grow: 1;
}


.strikethrough {
  text-decoration: line-through;
  text-decoration-color: #c2bbbb;
}

.logo-image {
  height: 48px;
}

.mobile-burger {
  width: 32px;
}

.statue-image {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('/img/87ecf7e9db6ac60e074a70c57e7cc509.jpg');
}

.statue-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: -1;
  mix-blend-mode: multiply;
}

.statue-image-desktop {
  background-image: url('/img/sta.png');
  height: 937px;
  top: 0;
  left:0; 
  right: 0;
  width: 100%; /* Use viewport width instead of a fixed width */
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; /* Change from cover to contain */
  background-size: auto 100%; /* Stretch the image horizontally */
  z-index: -1;
}


.content-container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 80px;
  padding-right: 80px;
}


.statue-image-desktop::before {
  content: '';
  position: absolute;
  top: 0;
  left:0; 
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}

.compare-background {
  width: 100%;
  background-image: url('/img/compare-table.jpg');
  position: absolute;
  background-repeat: no-repeat;
  background-size:cover;
  z-index: -1;
  transform: translate(0, -50%);
  opacity: 50%;
}

.compare-background-desktop {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw; 
  background: url('/img/compare-table.jpg') no-repeat center center;
  background-size: cover;
}

.compare-table-wrapper {
  position: relative;
}

/* ul */
ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
  width: 153.5px;
  height: 56px;
  flex: none;
  order: 0;
  flex-grow: 1;
}

@media (min-width: 768px) {
  ul {
    flex-direction: row;
  }
}

/* li */
li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  width: 153.5px;
  height: 26px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

/* dot */
.dot {
  box-sizing: border-box;
  width: 8px;
  height: 8px;
  border: 1px solid #00B894;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* Live, Work */
.text {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  flex: none;
  order: 1;
  flex-grow: 0;
}

/* Work */
.work {
  width: 35px;
  height: 26px;
}

.popup {
  background: #F4F5F9;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 100; 
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.8s ease-in-out, visibility 0.8s ease-in-out;
}

.mobile-background {
  content: '';
  position: fixed;
  top: 64px;
  left: 0;
  height: 100%;
  right: 0;
  bottom: 0;
  background-image: url('/img/mobbackground.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

.mobbackground {
  z-index: 300;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}


.popup.visible {
  bottom: 0;
  opacity: 1;
  visibility: visible;
}

.sticky-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100; 
}

.fade-in {
  opacity: 1;
  transition: opacity 0.8s ease-in-out;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

.drop-shadow {

  box-shadow: 0px 0.11069025844335556px 2.2138051986694336px 0px #00000005,
  0px 0.2660040855407715px 5.32008171081543px 0px #00000007,
0px 0.5008620619773865px 10.017241477966309px 0px #00000009,
0px 0.8934523463249207px 17.869047164916992px 0px #0000000B,
 0px 1.6711044311523438px 33.422088623046875px 0px #0000000D,
0px 4px 80px 0px #00000012;

}

.custom-box-shadow {
  box-shadow:
    0px 1.8568079471588135px 1.9473838806152344px 0px rgba(0, 0, 0, 0.0105),
    0px 5.133836269378662px 5.384267330169678px 0px rgba(0, 0, 0, 0.015),
    0px 12.360300064086914px 12.963241577148438px 0px rgba(0, 0, 0, 0.0195),
    0px 41px 43px 0px rgba(0, 0, 0, 0.03);
}

.shadow-box-header {
  box-shadow: 0px 0.30914032459259033px 2.7479140758514404px 0px #00000006,
0px 0.78183913230896px 6.949680805206299px 0px #00000008,
0px 1.5948784351348877px 14.176697731018066px 0px #0000000A,
0px 3.2851481437683105px 29.201316833496094px 0px #0000000C,  
0px 9px 80px 0px #00000012;

}


/* In your CSS file or a <style> block in your component */
.your-modal-class {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  padding: 2rem;
  border-radius: 4px;
  outline: none;
}

.your-overlay-class {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}


.box-shadow-compare {
  box-shadow: 0px 2.232680320739746px 2.232680320739746px 0px rgba(0, 0, 0, 0.0155),
0px 5.646615982055664px 5.646615982055664px 0px rgba(0, 0, 0, 0.0222),
0px 11.518566131591797px 11.518566131591797px 0px rgba(0, 0, 0, 0.0278),
0px 65px 65px 0px rgba(0, 0, 0, 0.05);
}