@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  line-height: 26px;
}

tr {
height: 68px;
}

.logo-image {
  height: 48px;
}

.mobile-burger {
  width: 32px;
}

.statue-image {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('/img/87ecf7e9db6ac60e074a70c57e7cc509.jpg');
}

.statue-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1); /* 10% opacity */
  z-index: -1;
  mix-blend-mode: multiply;
}


.compare-background {
  height: 1098px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url('/img/compare-table.jpg');
  flex: none;
  flex-grow: 0;
  z-index: 0;
  order: 0;
}

/* ul */
ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
  width: 153.5px;
  height: 56px;
  flex: none;
  order: 0;
  flex-grow: 1;
}

@media (min-width: 768px) {
  ul {
    flex-direction: row;
  }
}

/* li */
li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  width: 153.5px;
  height: 26px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

/* dot */
.dot {
  box-sizing: border-box;
  width: 8px;
  height: 8px;
  border: 1px solid #00B894;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* Live, Work */
.text {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  flex: none;
  order: 1;
  flex-grow: 0;
}

/* Work */
.work {
  width: 35px;
  height: 26px;
}
